apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: {{ kube_apiserver_loadbalancer_fqdn }}:443
    token: {{ kubeadm_token }}
    unsafeSkipCAVerification: true
  tlsBootstrapToken: {{ kubeadm_token }}
controlPlane:
  localAPIEndpoint:
    advertiseAddress: {{ kube_apiserver_ip }}
    bindPort: {{ kube_apiserver_port }}
  certificateKey: {{ kubeadm_certificate_key }}
nodeRegistration:
  name: {{ kube_hostname }}
  kubeletExtraArgs:
    node-labels: topology.kubernetes.io/region={{ kube_node_region }},topology.kubernetes.io/zone={{ kube_node_zone }}
{% if inventory_hostname in groups['kube_control_plane'] and inventory_hostname not in groups['kube_workers'] %}
  taints:
  - effect: NoSchedule
    key: node-role.kubernetes.io/master
  - effect: NoSchedule
    key: node-role.kubernetes.io/control-plane
{% else %}
  taints: []
{% endif %}
---
kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
cgroupDriver: systemd
maxPods: {{ kubelet_max_pods }}
